body{
    text-align: center;
}
#img{
    text-align: center;
    height: 500px;
    width: 750px;
}

#marqeestyle{
    font-size: 45px;
    margin-top: 15px;
}
.h2{
    font-size: 10px;
}